.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #292929;
}

.main-navigation__title {
  color: #292929;
  margin: 0;
  font-size: 1.5rem;
}

.main-navigation__title a {
  color: inherit;
  text-decoration: none;
}

.main-header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main-header nav .nav-links {
  width: auto;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
}
